.container
  .row
    .col-md-3
      = render 'layouts/sidebar', user: current_user, book: @newbook
    .col-md-8.offset-md-1
      h2
        | Users
      = render 'users/users_table', users: @users
