<div class='container'>
  <div class='row'>
    <!--サイドカラム-->
    <div class='col-md-3'>
      <%= render 'layouts/sidebar', user: current_user, book: @newbook %>
    </div>
    <!--メインカラム-->
    <div class='col-md-8 offset-md-1'>

      <!-- ユーザ一覧テーブル -->
      <h2>Users</h2>
      <%= render 'users/users_table', users: @users %>
    </div>
  </div>
</div>


