<div class='container'>

  <!-- エラーメッセージ -->
  <%= render 'layouts/error_messages', value: @newbook %>

  <div class='row'>

    <!--サイドカラム-->
    <div class='col-md-3'>
      <%= render 'layouts/sidebar', user:current_user, book: @newbook %>
    </div>

    <!--メインカラム-->
    <div class='col-md-8 offset-md-1'>
      <!-- 書籍一覧テーブル -->
      <h2>Books</h2>
      <%= render 'books/books_table', books: @books %>
      </table>
    </div>

  </div>
</div>


