- if user_signed_in?
  .container.mb-5
    .row
      .col-md-5.offset-md-5
        = form_with model: @search, url: searches_result_path, method: :get, local: true do |f|
          = f.text_field :name
          = f.select :target, [["User", "User"], ["Book", "Book"]]
          = f.select :how, [["完全一致", "perfect"], ["前方一致", "forward"], ["後方一致", "back"], ["部分一致", "part"]]
          = f.submit :検索
