<table class='table table-hover table-inverse table-borderless'>
  <!-- チャット内容の表示 -->
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% chats.each do |chat| %>
      <tr>
        <% if chat.user_id == partner_user.id %>
        <!-- 相手の投稿 -->
          <td><%= chat.message %></td>
          <td></td>
        <% else %>
        <!-- 自分の投稿 -->
          <td></td>
          <td><%= chat.message %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- チャットを投稿 -->
<%= form_with model: new_chat, url: user_room_chats_path(partner_user.id, room.id), remote: true do |f| %>
  <%= f.text_field :message, id: "input_form" %>
<% end %>