<div class='container'>
  <div class='row'>
    <div class='col-md-10'>
      <h2><%= @partner_user.name %>さんとのチャット</h2>
      <!-- チャット機能 -->
      <div id="chat_function">
        <%= render 'rooms/chat', chats: @chats, partner_user: @partner_user, new_chat: @new_chat, room: @room %>
      </div>
    </div>
  </div>
</div>