
<!-- 自分以外のユーザのみフォローできる -->
<% if not current_user.id == user.id %>

  <!-- フォロー済か調査 -->
  <% if current_user.following?(user) %>
    <!-- フォローしている場合 -->
    <%= link_to user_relationship_path(user.id, current_user.id), method: :delete do %>
      <div class='btn btn-secondary'>フォロー外す</div>
    <% end %>

  <% else %>
    <!-- フォローしてない場合 -->
    <%= link_to user_relationships_path(user.id), method: :post do %>
      <div class='btn btn-success'>フォローする</div>
    <% end %>

  <% end %>
<% end %>
