- if not current_user.id == user.id
  - if current_user.following?(user)
    = link_to user_relationship_path(user.id, current_user.id), method: :delete do
      .btn.btn-secondary
        | フォロー外す
  - else
    = link_to user_relationships_path(user.id), method: :post do
      .btn.btn-success
        | フォローする
